main {
  padding: calc(var(--navheight) + 30px) 32px 0;
  max-width: 1094px;
  font-family: 'PTRootUI', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--white);
  text-align: justify;
  display: flex;
  align-items: flex-start;
}

main img {
  float: left;
  margin: 0 30px 30px 0;
  max-width: 300px;
}

main p {
  margin-bottom: 10px;
}

.mdash {
  margin: 0 2px;
}

main a {
  color: var(--sand);
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  main {
    padding: calc(var(--navheight) + 15px) 16px 0;
  }
}

@media screen and (max-width: 760px) {
  main img {
    margin: 0 0 10px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  main {
    flex-direction: column;
  }
}