main {
  padding-top: calc(var(--navheight) + 30px);
  width: 70%;
  max-width: 1030px;
  margin: 0 auto;
  font-family: 'PTRootUI', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--white);
  text-align: justify;
}

main img {
  float: left;
  margin: 0 30px 30px 0;
  max-width: 300px;
}

main p {
  margin-bottom: 10px;
}

.mdash {
  margin: 0 2px;
}

main a {
  color: var(--sand);
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  main {
    padding-top: calc(var(--navheight) + 15px);
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  main img {
    margin: 0 0 10px;
    float: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 95%;
  }

  main p {
    clear: both;
  }
}