body {
  padding-top: var(--navheight);
}

header {
  height: var(--navheight);
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--bgr);
  border-bottom: dashed 2px var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

header a, header button {
  fill: var(--white);
  width: calc(var(--navheight) * 0.7);
  height: calc(var(--navheight) * 0.7);
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

header button {
  fill: var(--bgr);
  background-color: var(--white);
}

header a:hover, header button:hover {
  opacity: 1;
}

.change-order-btn svg {
  height: 60%;
}

.menu-btn svg {
  height: 50%;
}

h3 {
  font-family: 'PTRootUI', sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  color: var(--white);
  margin: 50px auto 15px;
}

h3:first-of-type {
  margin-top: 30px;
}

ul {
  list-style-type: none;
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

ul:last-of-type {
  margin-bottom: 50px;
}

li {
  display: flex;
  align-items: center;
  height: 120px;
  padding: 10px;
  border-radius: 10px;
}

li:hover {
  background-color: rgba(247, 247, 247, 0.1);
}

li img {
  width: 100px;
  height: 100%;
  border-radius: 10px;
  margin-right: 25px;
}

li .caption {
  font-family: 'PTRootUI', sans-serif;
  font-weight: 400;
  color: var(--white);
  overflow: auto;
  height: 100%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li .caption p:nth-child(2) {
  margin-top: 1.2em;
}

li .ui {
  width: 175px;
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
}

li .ui form {
  display: inline;
}

li .ui button {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  transition: opacity 0.2s;
}

li .ui button:hover {
  opacity: 1;
}

li .ui button svg {
  height: 100%;
  fill: var(--white);
}

.change-order-mode {
  display: none;
}

.body__change-order-mode header *,
.body__change-order-mode .ui * {
  display: none;
}

.body__change-order-mode .change-order-mode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body__change-order-mode .change-order-mode * {
  display: block;
}

.body__change-order-mode header {
  justify-content: center;
  gap: 30px;
}

.header--order-ui--decline svg,
.header--order-ui--accept svg {
  height: 70%;
}

.li--ui--change-order-btn--up svg,
.li--ui--change-order-btn--down svg {
  position: relative;
}

.li--ui--change-order-btn--up svg {
  top: 2px;
}

.li--ui--change-order-btn--down svg {
  top: -2px;
}

.change-order-form {
  display: none;
}

@media screen and (max-width: 1024px) {
  li:hover {
    background-color: transparent;
  }

  li .ui button:hover {
    opacity: 0.5;
  }
}

@media screen and (max-width: 600px) {
  li .caption {
    display: none;
  }

  .edit-links {
    right: 5%;
  }

  .edit-links a {
    font-size: 20px;
  }
}