@font-face {
	font-family: 'PTRootUI';
	src: 
		url('../../assets/fonts/pt-root-ui_regular.woff2') format('woff2'),
		url('../../assets/fonts/pt-root-ui_regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUI';
	src: 
		url('../../assets/fonts/pt-root-ui_light.woff2') format('woff2'),
		url('../../assets/fonts/pt-root-ui_light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUI';
	src: 
		url('../../assets/fonts/pt-root-ui_medium.woff2') format('woff2'),
		url('../../assets/fonts/pt-root-ui_medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUI';
	src: 
		url('../../assets/fonts/pt-root-ui_bold.woff2') format('woff2'),
		url('../../assets/fonts/pt-root-ui_bold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Allura';
	src: 
		url('../../assets/fonts/allura-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}