main {
  color: var(--white);
  font-family: 'PTRootUI', sans-serif;
  padding: var(--navheight) 32px 0;
  max-width: var(--maxwidth);
}

main h1 {
  text-align: center;
  width: 95%;
  margin: 50px auto;
}

.greeting {
  font-size: 20px;
  width: 95%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

main h2 {
  text-align: center;
  margin: 50px auto 30px;
  text-transform: uppercase;
  font-size: 21px;
}

.imgs-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgs-container a {
  width: 30%;
}

.imgs-container img {
  width: 100%;
}

.mdash {
  margin: 0 2px;
}

@media screen and (max-width: 1024px) {
  main h1 {
    font-size: 27px;
    margin: 30px auto;
  }

  .imgs-container {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }
  
  .imgs-container a {
    width: 80%;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 760px) {
  .greeting p {
    display: inline;
  }
}

