body {
  padding-bottom: 50px !important;
}

main {
  color: var(--white);
  font-family: 'PTRootUI', sans-serif;
  padding-top: var(--navheight);
}

main h1 {
  text-align: center;
  width: 95%;
  margin: 25px auto 40px;
}

.greeting {
  font-size: 20px;
  width: 90%;
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

main h2 {
  text-align: center;
  margin: 40px auto 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.imgs-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  width: 80%;
  margin: 0 auto;
}

.imgs-container img {
  width: 250px;
}

@media screen and (max-width: 1024px) {
  main h1 {
    font-size: 27px;
    margin: 30px auto;
  }

  .imgs-container {
    flex-direction: column;
    width: 95%;
    gap: 20px;
  }

  .imgs-container img {
    width: 100%;
  }
}