.results {
  gap: 30px;
  padding: 50px 10px;
}

.figure-container {
  height: unset;
  padding: 0;
}

.figure-container:hover {
  background-color: unset;
}

figure {
  align-items: flex-start;
  position: relative;
}

figure img {
  max-width: 200px;
  width: unset;
  height: unset;
  cursor: url(../imgs/magnifying-glass-cursor.png) 12 12, zoom-in;
}

figcaption {
  display: block;
  white-space: initial;
}

figcaption a {
  color: var(--sand);
  text-decoration: underline;
}

.mdash {
  margin: 0 2px;
}

main {
  color: var(--white);
  font-family: 'PTRootUI', sans-serif;
  padding: calc(var(--navheight) + 32px) 32px 0;
  max-width: var(--maxwidth);
}

.greeting {
  font-size: 22px;
  width: 95%;
  margin: 10px auto;
  text-align: center;
}

.greeting a {
  color: var(--sand);
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  main {
    padding: calc(var(--navheight) + 32px) 16px 0;
  }

  .results {
    padding: 50px 0;
  }

}

@media screen and (max-width: 760px) {
  .greeting p {
    display: inline;
  }  
}

@media screen and (max-width: 550px) {
  figure img {
    max-width: 150px;
  }
}