.results {
  gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.figure-container {
  height: unset;
  padding: 0;
}

.figure-container:hover {
  background-color: unset;
}

figure {
  align-items: flex-start;
  position: relative;
}

figure img {
  max-width: 200px;
  max-height: 200px;
  width: unset;
  height: unset;
}

figcaption {
  display: block;
  white-space: initial;
  position: absolute;
  left: 225px;
  top: 0;
}
